@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
  height: 500px;
}

.card {
  height: 100%;
  padding: 32px;
}

img {
  margin: 32px 0;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 32px;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 95%);
  font-weight: 400;
  margin-top: 32px;
  line-height: 1.7rem;
  max-height: 375px;
}

button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 50px;
  padding: 0.5rem 16px;
  margin: 5rem 0;
  padding: 0.7rem 1.5rem;
}

.sedan {
  background-color: #e38826;
  border-radius: 16px 0 0 16px;
}

.sedan button {
  color: #e38826;
}

.sedan button:hover {
  background-color: #e38826;
}

.suv {
  background-color: #006970;
}

.suv button {
  color: #006970;
}

.suv button:hover {
  background-color: #006970;
}

.luxury {
  background-color: #004241;
  border-radius: 0 16px 16px 0;
}

.luxury button {
  color: #004241;
}

.luxury button:hover {
  background-color: #004241;
}

button:hover {
  cursor: pointer;
  outline: 1px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
  font-weight: 400;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media screen and (max-width: 768px) {
  body {
    min-height: 100%;
    margin: 1rem 0;
  }
  .container {
    max-width: 90%;
    display: block;
    /* max-height: ; */
  }

  .card {
    padding: 16px;
    height: 70%;
  }

  .sedan {
    border-radius: 16px 16px 0 0;
  }

  .luxury {
    border-radius: 0 0 16px 16px;
  }

  img {
    margin: 16px 0;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    margin: 2rem 0;
  }

  /* 
  
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

  */

  footer {
    padding: 16px;
    height: 20px;
  }
}
